h1 {
    margin-bottom: 20px;
}

label {
    margin-bottom: 2px;
    display: block;
}

.row {
    margin-bottom: 15px;
}

#cms-form-content {
    padding: 20px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.versions {
    margin-top: -15px;
    margin-bottom: 25px;
}

input, select, textarea{
    max-width: 440px;
}

 input.filter {
    max-width: 100%;
}