html, body {
    height: 100%;
    background: #f5f5f5;
    min-height: 800px;
    font-family: "proxima-nova", Arial;
    font-weight: 400;
    font-size: 12px;
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6, input {
    font-family: "proxima-nova", Arial;
}

h1 {
    font-size: 38px;
    font-weight: 400;
    line-height: 38px;
}

h4 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 300px;
}

hr {
    border-top-color: transparent;
    border-bottom-color: #666;
    border-left: none;
    border-right: none;
}
/* BUTTONS */ 
.btn-success {
    background: rgb(51, 51, 51);
    color: #FFF;
}

/* DIALOG */
.dialog-box {
    z-index: 30110;
    position: fixed;
    left: 50%;
    margin-left: -230px;
    background:#111;
    border-radius: 5px;
    top: 60px;
    width: 440px;
    color:#FFF;
    padding: 5px;
    opacity: 0;
}

.dialog-box h2 {
    margin: 0 1px
}

.screen-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 29999;
    opacity: 0;
    background: #000;
    background: -webkit-gradient(radial, 50% 25%, 0, 50% 25%, 800, from(rgba(0, 0, 0, 0.85)), to(#000000)) transparent;
    background: -moz-radial-gradient(center 45deg, circle cover, rgba(0, 0, 0, 0.85) 0%, #000000 100%) transparent;
}

.multioption-container {
    overflow: hidden;
    width: 440px;
    margin: 10px 0;
    color: #FFF;

}

.multioption-element {
    width: 98px;
    height: 98px;
    padding: 5px;
    -webkit-transition: opacity 0.1s ease-out;
    -moz-transition: opacity 0.1s ease-out;
    -o-transition: opacity 0.1s ease-out;
    transition: opacity 0.1s ease-out;
    opacity: 0.65;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.03);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.03);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.03);
    float: left;
    -moz-border-radius: 3px;
    margin: 1px;
    background: #444;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}


.multioption-element:hover, .multioption-element.active {
    opacity: 0.8;
    cursor: pointer;
}

.multioption-element.active {
    opacity: 1;
}


.multioption-list .multioption-element {
    float: none;
    height: auto;
    margin: 5px 1px;
    width: 430px;
    text-align: left;
}

.multioption-list .multioption-element a {
    line-height: normal;
}

input, select, option, button, .btn, input, textarea{
    border: solid 1px rgb(51, 51, 51);
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 100%; 
    -webkit-transition: all 0.2s ;
    background: #FFF;
    -moz-transition: all 0.2s ;
    -ms-transition: all 0.2s ;
    -o-transition: all 0.2s ;
    transition: all 0.2s ;
    font-weight: 300;
    padding: 7px;
    font-size: 18px;
    margin: 2px 0;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
    -webkit-appearance:none;
}

textarea {
    resize: none;
}

button, .btn, input[type=submit]{
    text-align: center;
    width: auto;
    background: #d6d6d6;
    color: #000;
    cursor: pointer;
}

.btn:hover, button:hover, input[type=submit]:hover, .btn.active {
    background: rgb(51, 51, 51);
    color: #FFF;
}

input:focus, select:focus {
    border-color: #42B1FF !important;
    color: #111111;
    outline: medium none;
}


input[type=checkbox] {
    width: auto;
}

#side-menu {
    position: absolute;
    height: 100%;
    top: 0px;
    width: 99px;
    border-right: solid 1px #999;
    background: #d6d6d6;
    z-index: 10;
}

#side-menu footer {
    position: absolute;
    bottom: 37px;
    width: 250px;
    left: 37px;
    -webkit-transform-origin: 3% 0%;
    -moz-transform-origin: 3% 0%;
    -ms-transform-origin: 3% 0%;
    transform-origin: 3% 0%;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

ul.horizontal {
    overflow: hidden;
}

ul.horizontal li {
    float: left;
    margin-right: 20px;
}


ul.horizontal li:last-child {
    margin-right: 0px;
}

/* Like the login box */
.floating-panel {
    border: solid 1px rgb(51, 51, 51);
    padding: 14px;
    border-radius: 5px;
    background: #e7e7e7;
}

#side-menu footer > * {
    float: left;
}

#side-menu #project-name {
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 3px;
}


#side-menu li:first-child {
    margin-top: 25px;
}

#content-container {
    padding-top: 20px;
}


#side-menu li {
    background-repeat: no-repeat;
    width: 100px;
    height: 32px;
    margin: 42px auto;
}

#side-menu-container li a {
    opacity: 0.4;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

#side-menu-container li:hover a, #side-menu-container li.active a {
    opacity: 0.8;
}

#side-menu-container  li a {
    display: block;
    height: 100%;
}

#side-menu li a {
    padding-left: 34px;
}

.sub-menu {
    width: 220px;
    top: 0px;
    border-right: solid 1px #b5b5b5;
    height: 100%;
    background: #ececec;
    position: absolute;
    left: -121px;
    z-index:9;
}

.sub-menu img {
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -2px;
}

.sub-menu li:first-child {
    margin-top: 0px;
}

.sub-menu h2, .sub-menu p {
    padding: 0 20px;
}

.sub-menu h2 {
    margin-top: 25px;
}
.sub-menu p {
    margin: 10px 0
}

.sub-menu ul {
    margin-top: 20px;
    border-top: solid 1px #b5b5b5;
    border-bottom: solid 1px #b5b5b5;
}

.sub-menu li {
    border-bottom: solid 1px #b5b5b5;
    width: 100%;
    margin: 0px;
    height: 34px;
    line-height: 34px;
}
.sub-menu li:last-child {
    border-bottom: none;
}

.sub-menu li a {
    padding: 0px 20px;
}

#content-container {
    margin-left: 100px;
    padding-top: 0px;
    border: 0px;
    width: 890px;
    height: 99.6%;
}

.multioption-element a {
    width: 100%;
    height: 100%;
    line-height :108px;
    vertical-align: bottom;
    display:block;
}

img.avatar {
    padding: 5px;
    width: 50px;
    height: 50px;
    border: solid 1px #a6a6a6;
}

.column {
    float: left;
}

.list-view, .list-view-item {
    overflow: hidden;
}

.list-view .items {
    margin-top: 15px
}

.list-view-item {
    display: block;
    margin-bottom: 40px;
}

.list-view-item:last-child {
    margin-bottom: 0px;
}

.list-view.standard-list .list-view-item hr {
    display: block;
}
.list-view.standard-list .list-view-item h4 {
    margin-top: 8px;
    display: block;
}

.floated {
    position: absolute;
}

.top-right {
    top: 0px;
    right: 0px;
}

.nav-buttons  {
    top: 34px;
    right: 20px;
}

.btn-small {
    font-size: 12px;
}


.date-suffix {
    vertical-align:super;
    font-size: 7px;
    line-height: 0px;
}

#cms-form-content .list-view-loading {
    background-position: 49% 25px ;
}

#cms-form-content .list-view .actions.hidden {
    height: 0px;
    width: 0px;
    overflow: hidden;
    position: absolute;
}

#cms-form-content .list-view .sorter, #cms-form-content .items .empty {
    margin-top: 5px;
    display: block;
}

.list-selection {
    cursor: default;
    position: fixed;
    top: 10px;
    left: 50%; 
    width: 350px;
    opacity: 0;
    display: none;
    margin-left: -175px;
    background: rgba(55,55,55, 0.95);
    padding: 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    color: #FFF;
}

.list-selection h4, .list-selection .label {
    margin-bottom: 10px;
}

.list-selection .actions a {
    margin: 0 3px;
}



#cms-form-content .list-view .pager {
    margin-top: 20px;
    text-align: center;
}

.list-view .pager a {
    width: 84px;
    display: inline-block;
    margin: 0 auto;
}


[class^="flash"] {
    cursor: default;
    position: fixed;
    top: 10px;
    left: 50%; 
    width: 250px;
    margin-left: -125px;
    background: rgba(55,55,55, 0.95);
    padding: 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    color: #FFF;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    opacity: 0;
}

.flash-success {
    background: rgba(10,139,0, 0.65);
}

.flash-error {
    background: rgba(200,39,30, 0.65);
}

.errorSummary {
    margin: 10px 0;
}

.errorSummary li, .errorMessage {
    color: red;
}

p.note {
    margin: 10px 0;
}