html, body, p, a, h1, h2, h3, h4, h5, h6 {
    font-smoothing: antialiased;    
    font-smooth:always;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-font-smoothing: antialiased;
}

a, a:active, a:visited {
    text-decoration: none;
    color: inherit;
}


.clickable {
    cursor: pointer;
}

/* ANIMATION */
.animated {
    -webkit-transition: all 0.5s ;
    -moz-transition: all 0.5s ;
    -ms-transition: all 0.5s ;
    -o-transition: all 0.5s ;
    transition: all 0.5s ;
}
.animated-quick {
    -webkit-transition: all 0.2s ;
    -moz-transition: all 0.2s ;
    -ms-transition: all 0.2s ;
    -o-transition: all 0.2s ;
    transition: all 0.2s ;
}

/* FOR ISSUE COLLECTOR */
#atlwdg-trigger {
    color: #FFF;
}